<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("gracelogo.png", size: "191x51", alt: "gracelogo"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "WHO WE ARE", '/static_pages/whoweare' %></li>
          <li><%= link_to "WHAT WE DO", '/static_pages/whatwedo' %></li>
          <li><%= link_to "WHAT'S ON", '/static_pages/whatson' %></li>
          <li><%= link_to "KIDS", '/static_pages/kids' %></li>
          <li><%= link_to "CONTACT", '/static_pages/contact' %></li>   
      </ul>
    </nav>
  </div>
</header>